<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.6.0" targetFramework="net472" />
  <package id="DiffPlex" version="1.4.4" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="3.0.0" targetFramework="net472" developmentDependency="true" />
</packages>